/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.11.2014, 9:49:24
    Author     : Kate
*/

body{
    background-image: url("../layout_img/body.png");
    background-repeat: repeat-x;
    background-color: #edf4ba;
}

#obal{
    width:1204px;
    margin:auto;
    min-height:1000px;
}

#logo{
    width:100%;
    height:210px;
    background: url("../layout_img/logo.png");
    background-repeat: no-repeat;
    background-position: right;
}

#login{
    width:223px;
    height:117px;
    float:right;
    padding-top: 60px;
}

#obal_obsahu{
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 5px;
    float:left;
    width:930px;
    min-height:800px;
    background-color:#009900; 
}

#obsah{
    width:910px;
    min-height:785px; 
    margin:auto;
    margin-top: 5px; 
    padding: 5px;
    padding-bottom: 50px;
    background: url("../layout_img/list.png") 20% 10% no-repeat, url("../layout_img/list.png") 80% 40% no-repeat,
        url("../layout_img/list.png") 15% 60% no-repeat,url("../layout_img/list.png") 75% 90% no-repeat;
    background-color: white;
}

#pata{
    width:100%;
    height:100px;
    clear: both;
    line-height: 90px;
    text-align:center;
}

/* MENU */

#menu{
    width:229px;
    float:left;
    min-height:785px;
}

#menu ul{
    list-style-type: none;
    padding: 0px;  
    font-family: comic sans ms; 
}

.kategorie{
    width:100%;
    background-image: url("../layout_img/menu_kategorie.png");
    height:70px;
    display: block;
    text-align:center;
    line-height: 68px; 
}

#menu ul ul{
    margin:auto;
    width:205px;
    background-color: #009900;
    text-align: center;
}

#menu ul ul a{
    display: block;
    text-decoration: none;
    color:black;
    min-height: 25px;
    font-size:15px;
}

#menu ul ul a:hover{
    display: block;
    color:purple;
}

