<form action="" method="post">
  <table class="na_stred">
    <tr><td>Titulek: </td><td><input type="text" name="titulek" size="50"  value="{{clanek.titulek}}" /></td></tr>
    <tr><td>Obsah: </td><td><textarea name="obsah" rows="30" cols="100" class="ckeditor"> {{clanek.obsah}} </textarea></td></tr>
    <tr><td></td><td> <input type="submit" value="odeslat"> <input type="reset" value="smazat"> </td></tr>
    </table>
</form>