<form action="" method="post">
<table class="na_stred">
    <tr><td>Jmeno:</td><td><input type="text" name="jmeno" value="{{data.jmeno }}"> </td></tr>
    <tr><td>Příjmení:</td><td><input type="text" name="prijmeni" value="{{data.prijmeni}}"> </td></tr>
    <tr><td>E-mail:</td><td><input type="text" name="email" value="{{data.email}}">*</td></tr>
    <tr><td>Stávající heslo:</td><td><input type="password" name="heslo">*</td></tr>
    <tr><td></td><td><input type="submit" value="Uložit">
            <script type="text/javascript">
                document.write("<input type='button' value='Storno' onClick=\"window.location.href='index.php';\" />");
            </script>
       </td></tr>
</table>
</form>